.discourse-status-alert {
  width: 85%;

  &.indicator-minor {
    background-color: orange;
  }

  &.indicator-major {
    background-color: #e45735;
  }

  &.indicator-critical {
    background-color: #c63c1b;
  }
  margin: 2em auto;
  padding: 1em;
  border-radius: 0.25em;
  border: 1px solid rgb(var(--primary-rgb), 0.25);

  a {
    color: var(--secondary);
    font-weight: 600;
    display: block;
    text-align: center;
  }
}
